<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Bree+Serif&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/css/common.css" />
    <link rel="stylesheet" href="../public/css/gate.css" />
  </head>
  <body>
    
    <div class="page">
      <div class="entrySection">
        <div class="nameOfTheProject">
          <div class="nameSentry">Sentry</div>
          <div class="exitAndLogOut">
            <div class="exit">Exit</div>
            <div class="logOut">Log out</div>
          </div>
        </div>
        <div class="entryBox">
          <div class="start">
            <div class="welcome">Welcome to Sentry</div>
            <div class="welcomeEnterTheRoll">
              Start by Searching for a Roll Number
            </div>
          </div>
          <div class="inputAndCheckStatus">
            <input class="input" placeholder="Enter roll number" />
            <button class="checkStatus">Check Status</button>
          </div>
          <div class="statusBox">
            <div class="rollNoAndLastUpdated">
              <div class="rollNo">
                <div class="rollNoHead">Roll No.:</div>
                <div class="rollNoEntry">22BCS046</div>
              </div>
              <div class="lastUpdated">
                <div class="lastUpdatedHead">Last Updated:</div>
                <div class="lastUpdatedEntry">No Selection</div>
              </div>
            </div>
            <div class="currently">
              <div class="currentlyHead">Last Updated:</div>
              <div class="currentlyEntry">No Selection</div>
            </div>
            <div class="status">
              <div class="statusHead">Last Updated:</div>
              <div class="statusEntry">No Selection</div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="logoAndName">
          <img src="../images/SentryIcon.png" class="logo" />
          <div class="name">Project Sentry</div>
        </div>
        <div class="aboutUs">
          More than just a gatekeeper, SENTRY (Student Entry & Tracking
          Registry) is a watchful eye, a silent protector, and a testament to
          our commitment to student safety. Its robust system and dedicated team
          work tirelessly behind the scenes, ensuring every step within these
          hallowed halls is monitored and accounted for.
        </div>
        <div class="finalFooter">
          <div class="nithLogoAndName">
            <img src="../images/NITH.png" class="logo" />
            <div class="collegeName">
              National Institute of Technology, Hamirpur
            </div>
          </div>
          <div class="aboutUsAndHelp">
            <div class="aboutUs">About Us</div>
            <div class="help">Help</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
