.content__head {
  display: flex;
  padding: 1.2rem 1.6rem;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}
.content__head__left {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.content__head__left__icon {
  width: 3.2rem;
  height: 3.2rem;
}
.content__head__left__text {
  color: #000;
  font-family: "Roboto Flex", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
