.main {
  display: flex;
  align-items: center;
}
.menu {
  display: flex;
  min-width: 35rem;
  padding: 2.4rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 2.4rem;
  align-self: stretch;
}
.menu__heading {
  display: flex;
  height: 4rem;
  align-items: center;
  gap: 1rem;
  align-self: stretch;
}
