* {
  padding: 0;
  margin: 0;
}

.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.entrySection {
  display: flex;
  align-self: stretch;
  min-height: 100vh;
  flex-direction: column;
  padding: 0rem 3.2rem;
  align-items: flex-start;
}
.footer {
  display: flex;
  padding: 2.4rem 1.2rem 0.8rem 1.2rem;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  flex: 1 0 0;
  align-self: stretch;
  background: #0d0d0d;
}
.logoAndName {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.2rem;
}
.logo {
  width: 4rem;
  height: 4rem;
}
.name {
  color: #fff;
  font-family: Roboto Flex;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.aboutUs {
  color: #fff;
  text-align: center;
  font-family: Roboto Flex;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 82.5rem;
}
.finalFooter {
  display: flex;
  padding: 1.2rem 1.6rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.nithLogoAndName {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.collegeName {
  color: #fff;
  font-family: Roboto Flex;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.aboutUsAndHelp {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  max-width: 10rem;
}
.aboutUs,
.help {
  color: #fff;
  font-family: Roboto Flex;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.nameOfTheProject {
  display: flex;
  height: 6.4rem;
  padding: 0rem 1.2rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.nameSentry {
  color: #000;
  font-family: "Bree Serif";
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.exitAndLogOut {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  align-self: stretch;
}
.exit,
.logOut {
  display: flex;
  width: 12rem;
  height: 3.6rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.logOut:hover {
  cursor: pointer;
  background-color: #1e1e1e;
  transition: all 100ms ease-in;
}
.exit {
  color: #000;
  font-family: Roboto Flex;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 3.2rem;
  border: 0.1rem solid #000;
}
.logOut {
  color: #fff;
  font-family: Roboto Flex;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border-radius: 3.2rem;
  border: 0.1rem solid #1e1e1e;
  background: #000;
}
.entryBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5.4rem;
  flex: 1 0 0;
  align-self: stretch;
}
.start {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}
.welcome {
  color: #989898;
  font-family: Bree Serif;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.welcomeEnterTheRoll {
  color: #000;
  font-family: Bree Serif;
  font-size: 3.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inputAndCheckStatus {
  display: flex;
  /* padding: 0rem 1.2rem; */
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.input {
  display: flex;
  width: 40rem;
  font-family: Roboto Flex;
  font-weight: 700;
  padding: 1.6rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 0.6rem;
  border: none;
  outline: 1px solid transparent;
  background: #fff;
  box-shadow: 2px 2px 23.8px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 1.8rem;
  transition: outline 100ms ease-in;
}

/* lovebabbar striver */
.checkStatus {
  border: none;
  display: flex;
  height: 5.4rem;
  padding: 0.8rem 3.2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1.2rem;
  background: #000;
  box-shadow: 2px 2px 10.1px 0px rgba(0, 0, 0, 0.25);
  color: #fff;
  font-family: Roboto Flex;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  transition: all 100ms ease-in;
}
.checkStatus:hover {
  cursor: pointer;
  background: #1e1e1e;
  transition: all 100ms ease-in;
}
.checkStatus:disabled {
  cursor: not-allowed;
  background: #989898;
  transform: scale(1);
}
.questions {
  gap: 2rem;
  max-height: 0;
  gap: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: all 0.2s ease;
}
.confirmationWrapper {
  display: none;
}
.overlay {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  backdrop-filter: blur(4px);
}
.confirmationbox {
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.datePickerIconBox {
  display: flex;
  width: 1.2rem;
  height: 1.2rem;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;

  /* Hide for now */
  display: none;
}
.datePickerIcon {
  flex: 1 0 0;
  align-self: stretch;
}
.datePickerInput {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
.filterStyle {
  display: flex;
  max-width: 20rem;
  min-width: 18rem;
  /* height: 4.8rem; */
  padding: 1.2rem 1.8rem;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.4rem;
  font-size: 2rem;
  outline: 0.5px solid #000;
  background-color: white;
  box-shadow: 2px 2px 23.8px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  transition: height 0.4s ease-in-out;
  /* transition: padding 0.1s ease-in-out; */
}
.hideDate {
  max-width: 0;
  max-height: 0;
  overflow: hidden;
  padding: 0;
  outline: 0px transparent;
}

.labelText {
  color: #1e1e1e;
  font-family: "Roboto Flex", sans-serif;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.datePickerInput {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.statusBox {
  display: flex;
  min-width: 75rem;
  height: fit-content;
  padding: 2.4rem 3.2rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
  border-radius: 0.6rem;
  background: #fff;
  box-shadow: 4px 4px 19.3px 0px rgba(0, 0, 0, 0.25);
}
.statusBoxItem {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.statusBoxTop {
  display: flex;
  height: 3.8rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
}
.statusBoxItemHead {
  color: #989898;
  font-family: "Bree Serif";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.statusBoxItemEntry {
  color: #000;
  font-family: "Bree Serif";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.invalidRoll {
  outline: 1px solid var(--Error, #ed6a5a);
  transition: outline 300ms ease-in;
}
.validRoll {
  outline: 1px solid var(--Success, #66de93);
  transition: outline 300ms ease-in;
}
.inputFeilds {
  display: flex;
  /* padding: 0rem 1.2rem; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
}
.inputFeildsQuests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* gap: 1.2rem; */
  padding: 0rem 1.2rem;
  align-self: stretch;
  max-height: fit-content;
}
.inputFeildsItemBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 0.6rem;
  gap: 0.8rem;
  transition: all 0.4s ease;
  max-height: 80rem;
}
.quest {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.options {
  display: flex;
  align-items: flex-start;
  gap: 1.2rem;
}
.option {
  display: flex;
  min-width: 8rem;
  padding: 0.8rem 2rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 2.4rem;
  outline: 1px solid #000;
  color: #1e1e1e;
  transition: background-color 200ms ease-in;
}
.option:hover {
  cursor: pointer;
  background-color: #dedede;
  transition: background-color 100ms ease-in;
}
.selectedOption {
  background-color: #1e1e1e;
}
.selectedOption .optionText {
  color: #fff;
}

.selectedOption:hover {
  cursor: pointer;
  background-color: #000;
  transition: background-color 100ms ease-in;
}

.optionText {
  color: #1e1e1e;
  font-family: "Bree Serif";
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.label {
  color: #989898;
  font-family: "Bree Serif";
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.question {
  color: #000;
  font-family: "Bree Serif";
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.inputFeildsQuests {
  box-shadow: 2px 2px 23.8px 0px rgba(0, 0, 0, 0.25);
  padding: 1.2rem 2.4rem 2.4rem;
  border-radius: 0.6rem;
}

.hide {
  max-height: 0;
  flex: 0 0 0;
  padding: 0;
  overflow: hidden;
  padding: 0;
  outline: 0px transparent;
  transition: max-height 0.4s ease-in;
  margin-top: 0rem;
}
.skeleton-text-data {
  border-radius: 0.4rem;
  padding: 0 2px;
}
.marketTag {
  background: rgba(249, 229, 66, 0.6);
}
.homeTag {
  background: rgba(66, 0, 255, 0.47);
}
.collegeTag {
  background: rgba(132, 221, 99, 0.54);
}
.noDataTag {
  background-color: #dedede;
}
.blurBackground {
}
